[2015-11-05 19:08] valendesigns opened #1 "PHP 5.3 will fail the build"
5.3 isn't actually broken, the issue is with `PHPCS` complaining about a vendor file. Once that's fixed we can move it out of the `allow_failures` section. I'm going to have to assume that excluding `*/vendor/*` is not doing the job.

[code]

Important to note that this is something that only happens when you add Coveralls support.

[2015-11-05 21:31] westonruter commented on #1
Try adding a `.ci-env.sh` that has:

[code]

That will then restrict the `checked-files` to not include `vendor`: https://github.com/xwp/wp-dev-lib/blob/8798e86c68b3e0c57ebf4f27c8a7f941633cf25c/travis.script.sh#L5-L9

BTW, I realize that `.dev-lib` would be a better config file name than `.ci-env.sh`

[2015-11-06 02:45] valendesigns commented on #1
Worked perfectly :+1:

[2015-11-06 02:45] #1 closed, assigned to nobody

[2015-11-06 05:16] valendesigns opened #2 "New Menus are not being saved to the correct location when you publish a snapshot"
The menu is being created when the snapshots is published. However, `Menu locations` is not getting checked or updated in the dropdown. Not sure if we need to handle this with JS using something like `wp.customize.bind( 'saved', function () { ... } )` or there is an issue with the data being passed to `customized`.

[2015-11-06 11:13] valendesigns opened #3 "Add support for translations with load_plugin_textdomain"
As well, add the Grunt tasks that connect with [Transifex](https://www.transifex.com) for auto generating language files during the `build` task. Using this service will allow the community to translate the plugin without creating pull requests.
- [x] Transifex project & Grunt task
- [ ] Integrate `load_plugin_textdomain`

[2015-11-06 11:56] valendesigns commented on #3
I've added the Grunt task that connects to Transifex with both push and pull commands, the only thing left is to transfer ownership of the project to XWP. @westonruter you'll need to create a free account at Transifex and let me know when it's ready so I can send the request.

[2015-11-07 01:53] westonruter commented on #3
@valendesigns isn't a service like Transifex now irrelevant that WordPress.org is rolling out language packs to all plugins? See https://make.wordpress.org/plugins/2015/09/01/plugin-translations-on-wordpress-org/

[2015-11-07 02:08] valendesigns commented on #3
I guess so after reading that. Does this mean we remove the .pot file too?

[2015-11-07 02:21] valendesigns commented on #3
I'm a little confused how `load_plugin_textdomain` is going to work with language packs that don't get installed into the plugins `/languages/` directory.

[2015-11-07 03:51] westonruter commented on #3
I'm utterly inexperienced with what the new language packs mean, but I _think_ it means we don't need the POT file. I recall the textdomain _must_ be the plugin slug, e.g. `customize-snapshots`, so that it can locate the installed languages in the location where language packs are installed (not in a subdirectory of the plugin itself).

[2015-11-07 20:44] valendesigns commented on #3
I'm not sure how it all works now either. I guess removing it for now it probably best, which, I've done.

[2015-11-07 20:44] #3 closed, assigned to valendesigns

[2015-12-09 01:33] westonruter opened #5 "Disable AYS dialog if no settings modified after saving snapshot"
If I hit “Save” or “Save Draft” and then exit the Customizer, I should not be presented with the AYS dialog:

<img width="450" alt="screen shot 2015-12-08 at 5 31 12 pm" src="https://cloud.githubusercontent.com/assets/134745/11673986/984037d0-9dd1-11e5-9775-38144acfe025.png">

[2015-12-09 03:50] westonruter commented on #2
Is this still an issue?

[2015-12-09 03:54] valendesigns commented on #2
Yes it is.

[2015-12-15 23:58] westonruter opened #6 "Add demo video to readme"
Example: https://github.com/xwp/stream/blob/1a32d57837011dfec73df634960c4260fd649143/readme.txt#L14

[2015-12-17 04:29] #5 closed, assigned to nobody

[2016-04-20 07:28] westonruter opened #12 "Add UI for listing and accessing current snapshots"
The custom post type for snapshots should be exposed in the admin so that the existing snapshots can be listed, with links to view them on the frontend or open them in the Customizer. Viewing the edit post screen for a snapshot could show a JSON dump of the settings in the snapshot.

[2016-04-20 07:30] westonruter opened #13 "Snapshot confirmation dialog model is not user friendly"
During QA, this was reported:

_Test steps_
1. Navigate to site and login as admin
2. View home page and click Customize to navigate to Customizer
3. Make a change (ie. to the logo) in customizer and click [save]
4. View Save Dialog Box

_Expected_
The user will be able to easily preview and save a ‘draft’ of their edits and understand the options

_Actual_
On clicking to ‘Save’ the changes in cus

[2016-04-21 05:24] westonruter commented on #13
See also #12 for a UI for listing snapshots in the admin. There could also be a UI in the Customizer to save/load snapshots in a similar way that the [Settings Revisions](https://wordpress.org/plugins/settings-revisions/) plugin [prototyped](https://wordpress.org/plugins/settings-revisions/screenshots/).

[2016-04-21 13:59] alcurrie commented on #13
Based on the test steps and results above I have some suggestions that may improve usability:
_Before clicking to Save_
- Change the button from [Save] which is more generic  and make it more specific [Save Snapshot]
- Add a brief explanation of what the button will do and what a Snapshot is.  I'd recommend moving the current user explanation from inside the Save dialog box i.e. ‘Clicking “Save” w

[2016-04-21 18:35] westonruter commented on #13
Instead of “Save Snapshot” the button could be just “Snapshot”. Also, instead of a button opening a model, maybe there should instead be a new Customizer section positioned at the top for managing Snapshots, similar to Settings Revisions: https://wordpress.org/plugins/settings-revisions/screenshots/

This could provide opportunities for adding UI for loading an existing snapshot.

[2016-04-26 20:48] westonruter opened #15 "Allow a snapshot to be scheduled"
This would implement https://core.trac.wordpress.org/ticket/28721

A snapshot should be scheduleable from the the Customizer via something like a “Schedule” button along with a timestamp for when it should apply.

If there is also an edit post screen for viewing a snapshot in the admin ( #18), the snapshot should also be able to be scheduled using the traditional post scheduling functionality.

[2016-04-26 20:53] westonruter opened #16 "Allow a snapshot to be split up into multiple snapshots"
If a subset of changes from a snapshot need to be isolated into a separate snapshot, such as scheduling out a subset of settings ahead of other settings being applied, we should be able to split up a snapshot into multiple snapshots.

Given the UI for listing out the available snapshots (#12), a user could open a snapshot in an edit post screen, and from there the list of settings in the snapshot

[2016-04-26 20:55] westonruter opened #17 "Allow settings to be deleted from a snapshot"
Given a UI for listing out the available snapshots in the WP Admin (#12), if opening a snapshot in its edit post screen (see also #16), there could be a listing of the settings in that snapshot along with checkboxes that when checked, a button could be clicked to remove them from the snapshot.

[2016-04-26 20:56] westonruter opened #18 "Add edit post screen for viewing a snapshot's settings"
With #12 there would be a list of the available snapshots in the WP Admin post list table. When clicking on a snapshot to access its edit post screen, the settings inside of the snapshot can be listed, along with the values for each. We could also show the current saved values along with the setting values from the snapshot to show a kind of diff view.

Also allow settings to be deleted from a sna

[2016-04-26 20:57] westonruter commented on #15
See also the ability to split up a snapshot into multiple: #16

[2016-04-26 21:08] westonruter opened #19 "Allow snapshots to be named"
When listing snapshots in the admin (#12), the snapshots should be shown with a given name to easily identify what is contained in the snapshot (this would be beyond any settings listed below the snapshot when expanded, as mentioned in #18).

In addition to a name, we could make use of the `post_excerpt` to capture a “commit message” for a given snapshot.

Alternatively, we could just use the post

[2016-04-26 21:16] westonruter opened #20 "Allow a snapshot to be reverted"
Before a snapshot is published (before its settings are saved), we should store the non-previewed values for the settings that are being overridden. These can be stored in the snapshot's meta. With this data available, we would be able to

Allow snapshots to store the previous state overridden for each setting saved. When viewing a snapshot that has been published, this pre-applied setting data co

[2016-04-27 00:25] westonruter opened #21 "Preview future scheduled snapshots"
With snapshots being scheduled (#15) there could be multiple snapshots that will have been applied by a given time. There needs to be a way to be able to indicate a future time and preview how the site will appear with all of the future-scheduled snapshots merged together, in order, and applied to the Customizer state.

[2016-04-27 00:28] westonruter opened #22 "Show conflicts arising with scheduled snapshots"
When making a change in the Customizer or making a new snapshot, if there is currently one or more scheduled snapshots that touch on a setting that is dirty in the current state, there should be a warning to note of a potential conflict.

See also previewing future scheduled snapshots: #15 & #21

[2016-04-28 21:55] westonruter opened #24 "Meta: Add plugin header image and icons"
As was done for Customize Posts: https://github.com/xwp/wp-customize-posts/issues/112

[2016-04-28 21:56] westonruter commented on #24
@lukecarbis could you work your magic here as you did for Customize Posts? Same pattern can be used, but with maybe a camera icon to represent the Snapshot half of the banner.

[2016-04-28 21:59] westonruter opened #25 "Store snapshot data in post_content instead of post_content_filtered"
Follow pattern of Customize Widgets Plus in how data is stored for `widget_instance` posts.

[2016-04-28 22:03] westonruter opened #26 "Clear up distinction between previewing vs saving values in a snapshot"
There seems to be somewhat of a gray area in Customize Snapshots, and in the Customizer in general for previewing vs saving values. In the Customize Snapshots plugin the `can_preview` method is used for both of these conditions, it seems going for the `save` check by seeing if `is_admin()`. I think perhaps they should be separated out a but more to make it more black and white?

[code]

I think ma

[2016-04-28 23:15] #24 closed, assigned to nobody

[2016-05-02 22:50] westonruter opened #28 "Save & Activate button is missing"
When doing a live preview of a theme switch, the Save & Activate button is hidden entirely.

[2016-05-02 22:51] valendesigns commented on #28
That is because Snapshots doesn't support theme switching yet.

[2016-05-02 22:51] westonruter commented on #28
But then shouldn't Snapshots be disabled entirely in this context rather than disabling the Save button?

[2016-05-02 22:54] valendesigns commented on #28
That would likely be the correct path until it's fully supported. I didn't try to make theme switching work as it wasn't a requirement for the first iteration.

[2016-05-27 19:59] westonruter opened #29 "Expose snapshots in REST API"
The snapshot posts should be available via the REST API, including the UUID for each snapshot and its contents. Accessing snapshots would require `customize` capability at least, and potentially the `capability` for each setting contained in the snapshot.

This should include a collection param for filtering snapshots that are authored by a given user ID.

Relates to #12

[2016-06-01 04:13] westonruter commented on #29
We should get post content storage nailed down first in #25.

Then, the REST API endpoints for snapshots should override the normal `content` field with one that contains all of the decoded JSON data, instead of presenting encoded JSON data in a `content` string.

[2016-06-02 22:06] westonruter opened #31 "Fail updating a snapshot if any of the setting values are invalid"
Add support for https://core.trac.wordpress.org/ticket/34893

[2016-06-02 22:25] #13 closed, assigned to nobody

[2016-06-04 07:44] westonruter opened #32 "Unauthenticated user unable to view a customize-draft post via REST API"
1. Create a new post via Customize Posts, giving it a `publish` status, but do not Publish
2. Click Save.
3. Make a request to via the REST API for the post, such as at http://vvv.example.com/wp-json/wp/v2/foods/159?customize_snapshot_uuid=ed6cb1bd-00c4-4927-8ae2-c98f257478f7
4. Fail: `{"code":"rest_forbidden","message":"You don't have permission to do this.","data":{"status":403}}`. It was expect

[2016-06-06 20:55] westonruter opened #33 "Ensure that widget actions and filters get added for previewing snapshots for unauthenticated users"
The constructor for `WP_Customize_Widgets` has this bit of code before it does the `add_action()` and `add_filter()` calls:

[code]

This will cause a problem for previewing widgets on the frontend for unauthenticated users because these filters/actions aren't getting added: https://github.com/xwp/wordpress-develop/blob/885d38edc8de04c3cf7baced5ef0effc8c5a6bd6/src/wp-includes/class-wp-customize-wi

[2016-06-06 20:58] westonruter commented on #33
I haven't actually verified that this is actually an issue, but I can't see how it wouldn't be an issue 😄

[2016-06-06 23:41] valendesigns commented on #33
@westonruter Well, it seems the issue is now much bigger than it was. I cannot see any new widgets in the Snapshot, regardless of if I'm authenticated or not. Even if I comment out that return.

[2016-06-06 23:59] valendesigns commented on #33
@westonruter It appears to be an issue with the widget value not being set when saving the Snapshot for new widgets. I'm trying to hunt down the root issue, but if you have any suggestions that would be great. Perhaps there was a change in the widgets API that is causing this?

[2016-06-07 18:08] #33 closed, assigned to nobody

[2016-06-07 21:08] valendesigns commented on #32
@westonruter There would not be a user object to add the capability to if they are not authenticated, so I'm not sure how that would work.

[2016-06-07 21:14] valendesigns commented on #25
@westonruter I think this should be added to 0.4.0 so it's taken care of sooner rather than later since it has breaking changes.

[2016-06-07 21:17] westonruter commented on #32
@valendesigns actually, there _is_ a `WP_User` object that is passed into `user_has_cap`. It's just that they have an `ID` of `0`. It looks like:

[code]

So the filter would just check if `0 === $user->ID` for unauthenticated users.

[2016-06-08 01:33] valendesigns commented on #32
Well then, I take that comment back and this should be a quick win. I'll create a PR.

[2016-06-09 01:23] westonruter opened #37 "Snapshot UUID should be stripped from the URL and JS state once published"
Once a snapshot is published, it should be considered frozen and a new one should be started. By stripping the UUID from the URL, this will help ensure that a user doesn't inadvertently go back to a snapshotted Customizer and not get the latest changes to modify.

[2016-06-09 06:31] westonruter commented on #37
Likewise, the “Update” button should go back to a “Save” button once Publish has happened.

[2016-06-09 06:32] valendesigns commented on #37
I'm working on this real quick.

[2016-06-09 20:29] westonruter opened #41 "Allow a snapshot to be copied/forked"

[2016-06-09 22:32] westonruter opened #42 "Eliminate storage of non-dirty settings"
I think I know why I was having environment problems yesterday. I think it was because I had so many settings loaded into the Customizer (278) and many of the settings were large being post settings with potentially very large `post_content`. I just looked at a snapshot I made and I calculated its size at 76,170 bytes (via `wp post get 305 --field=post_content | wc -c`). This is _large_. The `post

[2016-06-09 22:33] valendesigns commented on #42
I think that would be sane, and I'm all for it.

[2016-06-09 22:42] #25 closed, assigned to nobody

[2016-06-10 21:18] frankiejarrett opened #44 "Make attachments atomic until a transaction is published"
### Current behavior

When you upload attachments via the Customizer they are:
1. Added to the filesystem.
2. Saved to the database as a new post.
3. Immediately visible to all other logged in users in the Media Library.
### Desired behavior

Attachments that are uploaded _within_ a Customizer session should not be published, or even visible by other logged in users, until the user decides to **pu

[2016-06-11 08:18] westonruter commented on #15
@valendesigns here is the code from the transactions PR for handling the publishing of a transaction post: https://github.com/xwp/wordpress-develop/blob/97fd5019c488a0713d34b517bdbff67c62c48a5d/src/wp-includes/theme.php#L2071-L2120

For snapshots I suppose this logic would have to be short-circuited if `customize_save` is happening already. It would be only done if the snapshot post is being publi

[2016-06-11 08:22] westonruter opened #45 "Filter snapshot excerpt to be list of (dirty) setting IDs"
This would be useful for giving a preview for what is contained in the snapshot from the list table:

<img width="435" alt="snapshots_ _wordpress_develop_ _wordpress" src="https://cloud.githubusercontent.com/assets/134745/15984082/daaf93bc-2f72-11e6-9def-ef653ed08bc7.png">

See also #42.

[2016-06-11 08:27] westonruter commented on #15
There may need to be a “Snapshots” Customizer section that contains the fields for the future published date. This section could also contain a UI for selecting another snapshot to load, and also to provide a name for the snapshot (commit message), as in #19.

See also the (defunct) [Settings Revisions](https://wordpress.org/plugins/settings-revisions/) plugin:

![image](https://cloud.githubuserco

[2016-06-11 08:56] valendesigns commented on #15
The issue I see with using the header bar is that switching could be problematic in the small amount of real estate we have up there. I guess we could have an edit button that opens a dialog which allows naming and switching? Or using a key event like control+click or similar.

[2016-06-11 21:47] westonruter commented on #42
@valendesigns is this something you had a branch for which you want to include in 0.4.0?

[2016-06-11 22:05] valendesigns commented on #42
It's already in 0.4.0 I merged the branch locally.

[2016-06-11 22:46] westonruter commented on #42
I've some followup in #46.

[2016-06-11 23:14] valendesigns commented on #42
I've not tested it but that change looks like it's reverting things. Wouldn't it now add all the settings again, regardless of if their dirty?

[2016-06-11 23:16] westonruter commented on #42
@valendesigns oh, possibly. I assumed that the JS wasn't sending the non-dirty settings in the request, but maybe this wasn't done?

[2016-06-12 02:35] westonruter commented on #15
Note regarding calling `$setting->save()` during publishing: since the snapshot could have settings added to it from multiple users who don't all have the capability to modify each other's settings, or especially in the case of WP Cron transitioning a snapshot's status to `publish`, it will be important to ensure that during the routing for loading the snapshot to save all settings, that a filter

[2016-06-12 03:41] westonruter commented on #44
@fjarrett thanks for the report. Nevertheless, I think actually this is outside the scope of the Customize Snapshots plugin. It's actually a deeper issue in Core itself where the Media Library JS is not Customizer-aware. Beyond uploading new attachments, there is also the issue whereby if you edit an attachment's fields (e.g. title or caption) then these changes get saved immediately as soon as yo

[2016-06-12 03:41] #44 closed, assigned to nobody

[2016-06-12 04:14] #45 closed, assigned to nobody

[2016-06-12 04:14] #42 closed, assigned to valendesigns

[2016-06-12 04:15] #37 closed, assigned to valendesigns

[2016-06-12 04:16] westonruter commented on #17
Likewise, when calling `$snapshot->set( $setting_id, null )` this should have the effect of removing the setting from the snapshot.

[2016-06-12 04:37] valendesigns commented on #17
That isn't really needed in wp-admin. I envisioned creating a backbone collection of the setting IDs and using buttons to remove and undo. The buttons would modified the collection and dynamically update a hidden input. That way when "Save Draft" is clicked the new content is updated without those IDs.

[2016-06-12 04:44] frankiejarrett commented on #44
@westonruter OK cool, I wondered this after a posted it here. Thanks for clearing that up, I'll report this in Trac instead.

[2016-06-12 04:53] westonruter commented on #17
@valendesigns OK, so you're thinking to not do this the WP admin edit post screen, but rather inside the Customizer itself? I think this ties into that idea we had about providing a UI to list out what the current pending changes are in the Customizer. When loading the Customizer with a snapshot, we'd need to grab all of the setting values prior to calling `preview` and then export them to JS; we

[2016-06-12 05:04] valendesigns commented on #17
No, I think you misunderstood me, we're talking about two different pieces of the puzzle. I'm saying that we don't need to bootstrap the Customizer in `wp-admin` and use the `CustomizeSnapshots::set()` method to remove settings by supplying a `null` value. Instead we filter the `post_content` during save to unset the IDs we want removed.

What you mentioned above still is valid if we want to rever

[2016-06-12 06:13] westonruter commented on #15
Actually, I'm wrong about having to grant all caps during the save process. All we have to do is grant a cap that everyone has to all of the settings, and all of the settings will then be able to be saved. For example:

[code]

I loop over the settings first to set the `capability` in case there is a setting being saved that has a dependency, and thus tries to save the dependency before it gets sa

[2016-06-12 06:31] westonruter opened #47 "Filter all of generated links to include the snapshot UUID if present in the request"
When viewing the frontend of the site, clicking around should preserve the snapshot state as much as possible.

See https://github.com/xwp/wordpress-develop/pull/61/files#diff-4fb8a477f559bdfad2c1e6db6d1c8b06R887

[2016-06-12 06:33] westonruter opened #48 "Add admin bar link to view snapshot edit post screen"
In addition to the Customize link opening the snapshot in the Customizer, there should also be an easy way to access the Snapshot edit post screen from the frontend, if browsing the site in a snapshot state (see #47).

[2016-06-12 06:34] westonruter opened #49 "Add link in snapshot edit post screen to view frontend with snapshot applied"
In addition to the “Edit in Customizer” button there should be a button/link to view the snapshot on the frontend.

See also #47 for ensuring the links on the frontend include the snapshot UUID when browsing around the site.

[2016-06-12 10:21] valendesigns commented on #12
This still requires a link to view the Snapshot on the front-end before it can be closed.

[2016-06-12 16:06] westonruter commented on #12
Link for viewing snapshot on frontend: #49

[2016-06-14 21:49] miina commented on #2
Additionally, when a new menu is created as part of a snapshot, it won't appear in the Customizer when editing the same snapshot. It will appear when publishing the snapshot but without any added menu items.

[2016-06-14 22:09] westonruter commented on #2
It seems then that the `nav_menu_item` controls aren't getting added for items that are only in the Customizer state. The reason could be that the filters that change the `wp_get_nav_menu_items()` aren't getting added or not added early enough? Here is where the filter gets added: https://github.com/xwp/wordpress-develop/blob/45d7737eb29ab381c0cdd4072abbe7e889d7b3b0/src/wp-includes/customize/class

[2016-06-14 22:12] miina commented on #2
Right now there are no filters handling the menu nor the menu items in the Customize Snapshot. Thanks for the hints, looking into it at this moment.

[2016-06-16 19:42] miina commented on #48
Should this go to admin bar only or to the Customizer as well? E.g. to the Customize Controls section.

[2016-06-16 19:46] valendesigns commented on #48
There isn't a UI built in the Customizer yet for managing Snapshots. This ticket is specifically to address the admin bar link only.

[2016-06-21 21:37] westonruter commented on #18
This was done in 0.4.0, right?

[2016-06-21 21:37] valendesigns commented on #18
Well, that depends on how closely you want to follow the description.

[2016-06-22 05:14] westonruter commented on #18
Yeah, I think we can consider this closed.

[2016-06-22 05:14] #18 closed, assigned to nobody

[2016-07-05 05:17] #48 closed, assigned to miina

[2016-07-05 05:21] #49 closed, assigned to miina

[2016-07-06 17:59] #2 closed, assigned to nobody

[2016-07-08 18:53] westonruter opened #58 "Handle case where user lacking some setting caps loads a snapshot into the Customizer"
If a snapshot is saved that contains modified settings that require `edit_theme_options` and yet a user opens this snapshot in the Customizer and they lack this capability, the setting will effectively get dropped from the snapshot if they try saving. I see two options here:
- Block a user from being able to load a snapshot when they lack all caps for the settings in it.
- When a user with insuffi

[2016-07-12 17:27] westonruter opened #60 "Facilitate users concurrently editing a snapshot"
If two users edit the same snapshot, there is currently the real possibility that users will override each other's changes. There needs to be concurrency support for snapshots. When this happens, the snapshot save should be rejected as a validation failure, with a prompt to resolve the conflict, by accepting their changes or overriding the changes with their own.

We need to keep track of the sett

[2016-07-14 17:27] westonruter opened #61 "Show list of changes (dirty settings) in Customizer"
Just as we have a UI for showing the settings inside of a snapshot when in the WP admin, this same kind of interface should be available when you are _inside_ the Customizer. There can be a dialog that shows all of the changes, this UI could also provide a way for you to _revert_ an individual change back to the setting's original value. If we mark it as not `_dirty`, we may need to take care with

[2016-07-22 04:02] lgedeon commented on #60
@westonruter Instead of locking could we add a history of changes that have happened in the snapshot and keep the latest value? Then we could show that a change has been made and let the content editors keep, restore a different version or combine?

I am thinking of a ui like this:
<img width="301" alt="screen shot 2016-07-21 at 11 43 02 pm" src="https://cloud.githubusercontent.com/assets/370981/1

[2016-07-22 04:21] westonruter commented on #60
@lgedeon yeah, I agree that the user should be able to either accept the other's saved value or override the other's saved value. They should be able to see what the value is. I don't think we need a full history however. We just need to store with each `value` the `modified` time and the `user` who updated it. You can see in the `refactor` branch that the `Customize_Snapshot::set()` allows you to

[2016-07-22 07:07] #12 closed, assigned to valendesigns

[2016-07-22 17:43] westonruter commented on #47
As part of this, we should remove all Admin Bar nodes that link the user into the admin. There could be an “Exit Preview” button that just strips out the UUID from the URL. Or whenever clicking an admin bar node that links you away from the preview, there could be a `confirm` prompt on `click` to alert them that they are leaving the snapshot preview. If they click cancel, then we could do `event.p

[2016-07-22 22:28] westonruter commented on #60
@lgedeon sorry for the confusion regarding “if the timestamp is greater than the current time”. What I meant is if the “setting modified timestamp” in the snapshot is greater than the timestamp for when the user's Customizer session was first started. So when a user opens the Customizer, we should capture the time, and then send this time in every snapshot save request. In the request we can then

[2016-07-23 07:11] westonruter opened #64 "Add ability to create & update snapshots via REST API"
To build upon #63.
- Allow snapshot posts to be created and updated, ensuring that `content` is in the proper format as an object mapping setting IDs to setting params.
- Prevent editing of `slug`, since the UUID should never change.
- Add support for `PATCH` updates.
- Consider using REST API endpoints in Customizer when saving/updating snapshots.
- (optional) Add endpoints that use UUID instead

[2016-07-23 07:32] westonruter commented on #47
Additionally, we can make use of `sessionStorage` to capture whether or not the user was in a snapshot frontend preview. If they end up landing on a new URL but didn't explicitly exit the preview, and yet the `sessionStorage` says that a specific snapshot UUID is being previewed, then there can be a prompt to restore the snapshot state. This would be a failsafe to recover from JS directing a user

[2016-07-23 07:39] westonruter opened #65 "Inject Customizer state into Ajax requests"
This goes hand-in-hand with #47. In order to preview sites that use a lot of JS and Ajax requests, the requests need to be Customzier-aware. We can accomplish this via jQuery Ajax prefilter. If on the frontend, we only need to inject the `customzie_snapshot_uuid` query param. In the Customizer Preview, we'll need to rewrite the requests to be `POST` and ensure the Customzier query vars are include

[2016-07-27 19:20] #26 closed, assigned to nobody

[2016-07-27 19:20] #28 closed, assigned to nobody

[2016-07-27 19:20] #31 closed, assigned to nobody

[2016-07-27 21:11] westonruter opened #67 "Allow multiple snapshots to be merged into a single snapshot"
Inverse of #16.

Probably should create a new snapshot post post that contains the merged settings from the other snapshots. We could use bulk actions to implement this.

[2016-07-27 21:12] westonruter commented on #67
We could potentially trash the snapshots that are merged into the single snapshot. This would also entail preventing snapshots that are published or pending from being available for merging.

[2016-08-04 16:22] lgedeon opened #69 "Toggle between snapshot and live mode"
Instead of presenting two buttons one of which (publish) could have disastrous results on a live site, could we instead have a toggle that let's you switch between snapshot and live mode?

We could default to snapshot mode which would have a schedule option and even a button for opening a previous snapshot to continue work.

If you switch to live mode, then the publish button replaces the save but

[2016-08-04 18:16] westonruter commented on #69
This would be closely related to https://github.com/xwp/wp-customize-posts/issues/207

If we could collapse-down having two separate Save & Publish buttons to instead just have one button that would help. This could also tie into the scheduling UI (#68) and how really this is all about managing the snapshot post's `post_status` (👈) . There could be a post stats dropdown to switch between `draft`,

[2016-08-08 09:28] PatelUtkarsh commented on #22
@westonruter On which action Should we trigger the warning?
- On snapshot save/update/schedule
- New Action to check for conflicts before

Also, It's warning so we are allowing to save snapshot even though snapshot conflicts with other, Probably Yes?

Also, In the case of large number draft/scheduled snapshot this will be slow as we need to go through all snapshot (as`'posts_per_page' => -1`)

[2016-08-08 17:57] westonruter commented on #22
@PatelUtkarsh

The warning should probably appear once make a change to a setting. So let's say you've scheduled a change to `blogname`. If you go in and make a change to the Site Title, this could then result in an Ajax request to find any future-scheduled snapshots that contain the `blogname` setting. If there are, then the warning could be shown (perhaps an ⚠️ icon that opens a lightbox that li

[2016-08-08 18:13] westonruter commented on #21
This is similar to merging multiple snapshots together: #67

[2016-08-08 18:58] PatelUtkarsh commented on #22
@westonruter
Private Taxonomy for performance:
I like the idea but wouldn't that be too many terms to search on?

For example `postmeta[post][24][custom_post_meta]` If we were not storing `post_id` 24 in setting id the max terms would have been small but as we are storing it there would be so many possible terms with each post-type.

If we go this way we also need to make sure we destroy terms if

[2016-08-08 20:43] westonruter commented on #22
It's true, there would eventually be a lot of terms, likely on the order of 10 terms per snapshot. So as the number of snapshots grow, there'd be 10x terms for the number of snapshots, approximately. For a post, there would be a term for `post[post][24]` and for `postmeta[post][24][_thumbnail_id]`. Since these are dynamic settings, there would be no limit to these. For statically-registered settin

[2016-08-10 05:15] #47 closed, assigned to nobody

[2016-08-10 05:15] #65 closed, assigned to nobody

[2016-08-11 03:38] valendesigns commented on #19
I think we should add the ability to modify the title and excerpt. However, we filter the excerpt in the post table to display the modified settings at a glance and adding a commit log in the excerpt would override our ad hoc one, or at the very least append to it. Something to keep in mind.

[2016-08-11 04:51] westonruter commented on #19
If we just use the title field alone for the name (commit message) that would probably be simplest.

[2016-08-12 01:52] #15 closed, assigned to nobody

[2016-08-12 06:13] westonruter commented on #19
I think this change would necessitate changing the new “snapshot scheduling” box to be a more general “snapshot properties“ box. In addition to the scheduled date, this box would also have the title (commit message) for the snapshot. The calendar icon could then be replaced with a the edit icon, and the existing edit icon could be replaced with a “pop-out” icon.

<img width="364" alt="customize__w

[2016-08-16 09:47] PatelUtkarsh commented on #19
@westonruter With this change should we also change the workflow of how one can schedule snapshots?

Currently, On Creation, User first has to save snapshot and then only he can schedule a snapshot in the customizer.
Calendar icon is not visible when there is no snapshot loaded/created.

[2016-08-16 20:52] westonruter commented on #19
@PatelUtkarsh good question. Maybe that could all stay the same, but upon the initial Save the text field would be made available to let them supply a title and re-save to make it stick?

[2016-08-16 22:54] westonruter opened #75 "Create a snapshot with every Customize save if no snapshot is present"
This will ensure that there is revision history in the Customizer: https://core.trac.wordpress.org/ticket/31089

And it will allow any change saved in the Customizer to be rolled back: #20

[2016-08-16 23:11] westonruter commented on #20
See also [#21666](https://core.trac.wordpress.org/ticket/21666): Customizer reset/undo/revert

[2016-08-16 23:11] westonruter commented on #61
See also [#21666](https://core.trac.wordpress.org/ticket/21666): Customizer reset/undo/revert

[2016-08-17 20:26] kienstra commented on #67
Hi @westonruter,
Would there be a way to handle conflicting settings in merged snapshots?

[2016-08-17 21:05] westonruter commented on #67
@kienstra great question. I suppose so! I guess there would need to be an intermediate step where any conflicts are resolved.

[2016-08-19 08:30] PatelUtkarsh commented on #19
![image](https://cloud.githubusercontent.com/assets/5015489/17803609/2238f42a-6615-11e6-8188-df24be127f18.png)
@westonruter @valendesigns New UI, let me know your thoughts :)

[2016-08-23 22:10] westonruter opened #81 "Publishing changes without first updating a snapshot causes unexpected behavior"
Steps to reproduce:
1. Change site title.
2. Save snapshot (to create one).
3. Change title again.
4. Publish changes (without updating snapshot)

Bug: Snapshot Update button is not disabled and is not reverted back to Save.
Bug: Clicking Update causes an error modal to appear: “The snapshot could not be saved.”

[2016-08-24 08:59] kienstra commented on #17
**Pull Request Opened**

Hi @westonruter,
Could you please review this [pull request](https://github.com/xwp/wp-customize-snapshots/pull/84/files)?
- [73c5b28](https://github.com/xwp/wp-customize-snapshots/commit/73c5b28201f8f951f8c3e938405486cfb6f9a40e) : [Create link](https://github.com/xwp/wp-customize-snapshots/compare/feature/allow-deleting-settings?expand=1#diff-36a80da8dbba0bdbe840617270bb1

[2016-08-27 23:58] #81 closed, assigned to nobody

[2016-08-28 00:28] westonruter opened #86 "Published snapshot UUID can persist in the customizer exit link"
Steps to reproduce:
1. Open customizer
2. Change a setting (e.g. site title)
3. Save snapshot
4. Click to view the snapshot on the frontend:
   <img width="151" alt="customize__search_results_for_ test _ _wordpress_developsss" src="https://cloud.githubusercontent.com/assets/134745/18030810/68aee182-6c7b-11e6-98ec-130e7ad7e9ba.png">
5. On the frontend preview, click Customize in the admin bar: <img

[2016-08-28 04:05] #19 closed, assigned to nobody

[2016-09-01 06:32] PatelUtkarsh commented on #41
@westonruter When we say forked should the original post remember it's forked snapshots? (If original posts remember it's child forks then every child will need to remember it's parent as when we delete a post we need to clear that id.)

Would there be UI that says these snapshots are forked from currently viewing snapshot? (maybe a metabox?)

Also, this will show conflicts with forked snapshot #7

[2016-09-01 06:44] westonruter commented on #41
@PatelUtkarsh good question. I think we could leverage the `post_parent` field to capture the relationship between a forked snapshot and its original snapshot. If the parent gets deleted then the ID will either point to nothing or a trashed post, which should have the same result: the parent should be considered empty.

There could be a UI that shows snapshots that lists out the snapshots that wer

[2016-09-05 06:29] PatelUtkarsh commented on #41
@westonruter what would be the UI for showing forked snapshot meta-box?

[2016-09-05 16:58] westonruter commented on #41
@PatelUtkarsh not sure. But perhaps it could be tied into the Revisions metabox. In addition to the revisions of that specific snaphot, it could have sections that list the forked snapshots as well as the parent snapshot (if any).

[2016-09-06 11:32] PatelUtkarsh commented on #41
Revisions box will only display if the post has revisions and I couldn't find any hook that we can tie our template in.
Current UI: #90
![image](https://cloud.githubusercontent.com/assets/5015489/18272029/1c2bcee4-7453-11e6-8bd2-48b2c1aca57e.png)

[2016-09-06 11:48] PatelUtkarsh commented on #41
@westonruter Should we go with `Fork` word only? Currently we are using `fork/copy` as button and metabox title.

@sayedwp any input on above UI?

[2016-09-06 16:44] westonruter commented on #41
“Clone” or “Duplicate” would also work. But I think “Fork” works well for now since it has a distinct history that would not be entailed by other words.

[2016-09-07 04:28] jeffpaul commented on #41
@westonruter & @PatelUtkarsh it looks like we're limiting the forking to only drafted snapshots. Assuming that was a conscious decision, should we add a tooltip or note on scheduled/trashed/published snapshots to note they're unable to be forked? Or should we expanding forking to include those other snapshot states?

[2016-09-07 20:39] westonruter commented on #41
@jeffpaul Good question. Maybe in the cases where it cannot be forked, the button can be there but `disabled` (with a tooltip)? I suppose forking should actually be allowed for `pending` snapshots as well. Just trying to think about the user flow. If a snapshot is `future` or `publish` the snapshot should be essentially considered locked-in, and making a fork of it would seem strange because the v

[2016-09-12 09:28] PatelUtkarsh commented on #41
@westonruter If we are removing the restrictions on which snapshot statuses can be forked, All forked snapshot should be assigned post-status as `draft`?

[2016-09-28 07:27] westonruter commented on #41
@PatelUtkarsh yes. That sounds right.

[2016-10-06 11:45] PatelUtkarsh commented on #67
@westonruter Should we allow `schedule` snapshot to be merged?

[2016-10-06 13:21] PatelUtkarsh commented on #67
Also, If a user selects 2 publish and one draft for merge we will show error, but in the case of 1 publish and 2 drafts, Should we process with the merge of 2 draft and show error or just display error without merging it?

[2016-10-07 00:19] westonruter commented on #67
@PatelUtkarsh Yes. I see no reason why a scheduled or even a published snapshot should not be able to be merged. You should be able to include published snapshots in the merges in the same way that you should be able to duplicated/forked (#41). This is closely related to allowing a snapshot to be reverted (#20): consider publishing a snapshot, making some changes, and then wanting to restore the s

[2016-10-10 17:01] #67 closed, assigned to nobody

[2016-10-19 14:10] PatelUtkarsh commented on #21
I can think of two ways of doing this,
- Merge those `future` snapshots together based on input date and create the new snapshot and redirect to its preview, we need to take care of deleting this temporary snapshot once preview is over.
- Pass some param in URL which can identify previewing schedule snapshot request with a future date. On each request, we need to compute which settings to preview

[2016-10-19 16:49] westonruter commented on #21
The first one, yes. In act, this virtual snapshot can be created with an `auto-draft` status in the same was as changesets are, and they'll then get automatically garbage-collected after a week.

[2016-10-20 19:11] westonruter commented on #75
This is implemented in changesets.

[2016-10-20 19:11] #75 closed, assigned to nobody

[2016-10-20 19:14] westonruter commented on #58
This should be addressed by changesets. A changeset UUID is always supplied when accessing the preview and all pre-saved settings in the changeset should be made available in the preview, even though the user cannot modify them (write them into the changeset).

[2016-10-24 17:18] hellor0bot opened #96 "Usage clarifications"
Hello,

I'm trying to figure it out, in what way your plugin can be useful in my case.

We create themes for ThemeForest. As you might know, themes on ThemeForest have demos. Basically a demo is a set of Customizer theme_mods. We currently override them via a [filter](https://codex.wordpress.org/Plugin_API/Filter_Reference/theme_mod_$name), depending on a $_GET parameter.

It would be so much easi

[2016-10-25 06:55] westonruter commented on #96
@hellor0bot what's the reason for not liking the GET parameter? Is it visually unappealing or is it that the parameter is not persisting as you navigate through the site? Snapshots won't help in the former case, as there is a UUID query param that is supplied to persist the state. Also, it explicitly disallows unauthenticated users from previewing a theme switch, as allowing anyone to run any them

[2016-10-25 07:08] westonruter commented on #96
I think that the approach you are taking is fine and is more lightweight than booting up the customizer context, especially if you're only overriding theme mods. You can reduce the amount of manual code by adding filters by iterating over an array.

[code]

[2016-10-25 07:08] #96 closed, assigned to nobody

[2016-10-26 17:43] miina opened #98 "Disable editing slug from Quick Edit"
Currently the `slug` of a Snapshot is editable from the Quick Edit action link on `wp-admin/edit.php?post_type=customize_snapshot` page. Since it's the UUID, it shouldn't be editable.

[2016-10-26 20:19] westonruter commented on #98
You're absolutely right.

[2016-10-26 20:24] westonruter opened #99 "Extend, integrate with and defer to changesets in WP 4.7"
_This is an important issue to complete before the 4.7 release in December._

The underlying architecture in snapshots was committed to core in WordPress 4.7-alpha. As such, the redundant code in snapshots should be only run if on 4.6 or less. All of the redundant code should be extracted into one or more back-compat classes.

Also, now that the post type is `customize_changeset` as opposed to `cu

[2016-10-27 01:32] westonruter commented on #99
I created a gist that has some light extensions for changesets to add some snapshots UI, just for testing. Some of the code may be helpful: https://gist.github.com/westonruter/b2c9edb9a2ee83236dd9b2b4f177ae76

The changesets post on Make/Core has some example API calls that should be used for creating drafts and scheduling changes via `wp.customize.previewer.save()`: https://make.wordpress.org/cor

[2016-10-27 07:13] PatelUtkarsh commented on #98
Should we completely block quick-edit?

[2016-10-27 15:49] westonruter commented on #98
Yes.

[2016-10-28 18:08] #98 closed, assigned to nobody

[2016-11-12 05:35] westonruter opened #101 "Move “View on Frontend” link to customize-footer-actions; make persistent"
In the plugin right now, a “View on Frontend” link/button appears in the `customize-header-actions` whenever the snapshot is saved. With changesets, however, the state is saved at `AUTOSAVE_INTERVAL` and it is saved whenever focus on the window is removed. In short, the changeset can be considered to be saved at any time and not require a proactive Save. Because of this, the “View on Frontend” lin

[2016-11-16 06:56] westonruter opened #103 "Consider adding Publish button to admin bar when previewing changeset"
When previewing a changeset on the frontend and the Admin Bar is present, in addition to there being a Customize link to allow you to enter the customizer to make changes, there could also be a Publish button that would allow you to make the changes live right there. This would tie into a frontend editing experience for the customizer, where a user could start a frontend customizer session by clic

[2016-11-16 06:57] westonruter commented on #101
The JS logic here should probably be encapsulated into a new core API, like `wp.customize.previewer.getFrontendPreviewUrl()`.

[2016-11-22 06:25] westonruter commented on #64
Deprecated in favor of https://core.trac.wordpress.org/ticket/38900

[2016-11-22 06:25] #64 closed, assigned to nobody

[2016-11-28 18:55] mehigh opened #104 "Customize from within Snapshot view fails to load the correct page inside Customizer"
Steps to reproduce:
- customize a page
- hit save
- click on "view on frontend"
- from this page click "Customize"

Issue:
Although the customized page options are loaded correctly in the sidebar, the iframe content does not reflect the contents of that page.

http://contribute-wp.kbox.site/wp-admin/customize.php?url=http%3A%2F%2Fcontribute-wp.kbox.site%2F%3Fpreview%3Dtrue&page_id=13&autofocus%5Bs

[2016-11-28 21:43] mehigh commented on #104
There's a second glitch happening and that's might be related to the above issue.

When editing a page after hitting customize, clicking the 'x' button to close it returns the visitor to the snapshot view  - which is correct from a standard's functionality point of view, as that's the last URL the user was on before getting inside the customizer.

But, from a usability point of view, it might be a

[2016-11-29 00:18] westonruter commented on #104
Are you sure? Notice how the url contains `preview=true&page_id=13`. This is specifically because you're using Customize Posts which forces non-pretty permalinks to account for a user making changes to the `post_name`.

If the page with ID 13 is not getting loaded in the customizer preview, then this is a different issue, one that I remember happening before and fixing. Do you have the latest vers

[2016-11-29 06:34] mehigh commented on #104
Hmm... You're right. I forgot about that thing although I encountered it a while back -> when discovered that TinyMCE was causing the glitch.
I'll test first with the github version of the two plug-ins and see if the bug is still present, and then try with the customize posts disabled.

[2016-12-07 16:07] dmalshin opened #105 "Exception thrown when attempting to activate plugin on windows environment"
Can't activate the plugin due to a fatal error.
Tested on two different websites, on WP 4.7 and on the previous WP version.
![2bf6bdc744](https://cloud.githubusercontent.com/assets/10954709/20975379/c95efcdc-bcb8-11e6-8bb4-d93f0505c673.png)

[2016-12-07 17:16] westonruter commented on #105
Note: The plugin is not yet compatible with WordPress 4.7.

That being said, this error should not be happening on 4.7 or any previous version.

[2016-12-08 06:57] westonruter commented on #105
The (attempted) exception being thrown is:

See https://github.com/xwp/wp-customize-snapshots/blob/629033dd3704945aa78e72986441425925c1b1a2/php/class-plugin-base.php#L152

It seems that the plugin is having a hard time locating itself on your Windows filesystem.

[2016-12-08 18:17] PatelUtkarsh opened #106 "Multisite migration from snapshot to changeset for WP 4.7"
#102 covers migration for normal WP site, it does not cover multisite migration.

[2016-12-13 18:11] westonruter opened #107 "Remember the preview URL and expanded panel/section when saving a changeset"
When a changeset is made, often the changes specifically relate to a given URL and with a specific panel, section, and control being expanded. It would be ideal if whenever a changeset is saved, that we pass along the current `previewUrl` and any expanded panel/section/control so that these params can then be used in the links generated for “Edit in Customizer” and “Preview ~~Snapshot~~Changeset”

[2017-01-12 23:24] vivacomedia opened #108 "Unauthorized users can't preview the snapshots"
Wrote to you previously on WordPress.org but not sure if you check comments there, so i decided to post here too.
This plugin is very useful for me but unfortunately it works only for admin users, normal-unauthorized ones can’t preview changes through urls like http://example.com/?customize_snapshot_uuid=***hash_here*** while the description page says they should. In my case it just loads the curr

[2017-01-13 01:21] westonruter commented on #108
@vivacomedia are you using WordPress 4.7? There is currently a large PR (#102) to update Snapshots to re-use the infrastructure added in 4.7 for changesets, and also add compat with 4.7 in general. Would you be able to try that feature branch and see if it resolves your issue? Note that the query param becomes `customize_changeset_uuid` in that case. And actually, this works without the Snapshots

[2017-01-13 20:28] vivacomedia commented on #108
Hi westonruter, and thanks for a prompt response! Well it is actually my fault.. I am using 4.7 but i have checked other WP versions like 4.5, then 4.6.2 which oddly didn't work for me too for some reason, eventually I got it working by downgrading to 4.6 I also tried all the branches I could find here with 4.7 version however(!) I didn't change the the query param to **customize_changeset_uuid**

[2017-01-14 04:38] westonruter commented on #108
@vivacomedia The feature branch for 4.7-compatibility is `refactor/intergrate-changeset` and can be seen in PR
https://github.com/xwp/wp-customize-snapshots/pull/102

The `customize_changeset_uuid` query parameter is what 4.7 uses which has changesets bake dinto core. The `customize_snapshot_uuid` is what this plugin uses in for prior versions. But actually I thought that the feature branch would

[2017-01-14 04:43] valendesigns commented on #108
@westonruter If the `isset` check is for `customize_snapshot_uuid` wouldn't you need to then set `customize_changeset_uuid` and not the other way around? I guess I'm just not following why you would write over `$_REQUEST['customize_snapshot_uuid']` with `$_REQUEST['customize_changeset_uuid']` when you're checking to see if `customize_snapshot_uuid` has a value.

[2017-01-14 04:46] westonruter commented on #108
@valendesigns you're absolutely right. I got the order wrong in my example. I updated the comment to fix.

[2017-01-16 06:39] PatelUtkarsh commented on #108
I haven't added param back compatibility, will add that in #102 Thanks.

[2017-01-24 07:35] westonruter commented on #108
@vivacomedia can you re-try on the `refactor/intergrate-changeset` branch now with 4.7 please?

[2017-01-24 18:38] jeffpaul commented on #104
@mehigh any updates on re-testing this on your end?

[2017-01-24 18:48] jeffpaul commented on #58
@westonruter So this _should_ be resolved via #102?

[2017-01-24 19:30] westonruter commented on #58
@jeffpaul I believe so. Just needs testing to confirm.

[2017-02-06 15:00] #99 closed, assigned to nobody

[2017-02-08 06:23] PatelUtkarsh commented on #58
@westonruter Tested and it works as expected. The user can load changeset and make changes to the section which is accessible to it, other section data preserve on save of that.

Created snapshot with a user A who doesn't have access to some section and added some data, Added new data in changeset with User B(admin) of which user A doesn't have access to, Opened changeset with user A and edited/up

[2017-02-09 21:27] #58 closed, assigned to nobody

[2017-02-10 17:52] westonruter opened #112 "Date fields display with error message when selecting non-schedule status"
Problem:

1. Make change in customizer.
2. Click to Save Draft.
3. Click pencil icon
4. Unexpectedly see date fields and an error message about selecting a future date

I would expect the date fields to only display if I selected “Schedule” intead.

See screenshot:

![image](https://cloud.githubusercontent.com/assets/134745/22837684/762d1594-ef76-11e6-9ccd-80fc84d20e70.png)

This issue seems like

[2017-02-13 14:20] mohdsayed commented on #112
I dont remember exactly but it was probably discussed in slack before that a user must add a future date for all status, may be I am wrong but anyways, you are right it should only show the date when the status is future.

Fixed in https://github.com/xwp/wp-customize-snapshots/pull/111

[2017-02-25 00:23] valendesigns opened #121 "Typo in dockblock"
The `wp-cli` command for migration to 4.7+ in the docblock should be `snapshot` not `customize_snapshot ` here https://github.com/xwp/wp-customize-snapshots/blob/develop/php/class-customize-snapshot-command.php#L26-L27

[2017-02-25 17:25] mohdsayed opened #123 "Migrate to changesets notice also shows when somebody has directly installed WordPress > 4.7"
"Existing Snapshots need to be migrated to Changesets, which was added to core in WordPress 4.7." notice should not show if somebody has directly installed WordPress > 4.7, or there are no changesets to migrate.

May be we can do this here https://github.com/xwp/wp-customize-snapshots/blob/develop/php/class-migrate.php#L51-L57
[code]

[2017-02-27 05:58] #121 closed, assigned to PatelUtkarsh

[2017-02-27 17:46] #123 closed, assigned to PatelUtkarsh

[2017-02-28 12:23] vivacomedia commented on #108
yes, it does work, thanks a lot!

[2017-02-28 17:48] #108 closed, assigned to nobody

[2017-03-01 00:26] #112 closed, assigned to mohdsayed

[2017-03-03 04:21] westonruter commented on #107
Let's make this part of 0.6.0. So much for RC1 😄

[2017-03-03 06:13] mohdsayed commented on #107
Sure I am working on it. 🙂

[2017-03-10 20:08] westonruter commented on #107
Fixed by #129.

[2017-03-10 20:08] #107 closed, assigned to mohdsayed

[2017-03-10 20:35] #86 closed, assigned to nobody

[2017-03-11 05:23] westonruter opened #131 "Publish button not enabled on theme switch"
I tried previewing a different theme and the Publish button was not enabled so I couldn't activate the new theme unless I first dirtied a setting:

![image](https://cloud.githubusercontent.com/assets/134745/23820887/d5010090-05d7-11e7-8c58-307f556b5e20.png)

[2017-03-21 20:40] #131 closed, assigned to mohdsayed

[2017-04-17 17:47] PatelUtkarsh opened #133 "Check nav menu post reference before garbage collect"
Check WP trac ticket: https://core.trac.wordpress.org/ticket/39715

Override core's `delete_post` filter PR https://github.com/xwp/wordpress-develop/pull/224/files
And check for other references(In case of fork/merge snapshot) for `nav_menus_created_posts`'s posts before deleting.

[2017-04-24 18:50] mehigh commented on #104
5 months later, testing this once more.

[2017-04-24 19:05] mehigh commented on #104
This is not an issue without customize posts. I very much like the new and improved bar (publish/save draft/schedule/save pending).

I tested it again with the customize posts plug-in active and again this functions correctly now.

[2017-04-24 19:05] #104 closed, assigned to mehigh

[2017-05-16 05:37] westonruter commented on #133
@PatelUtkarsh your patch is now committed to trunk: https://core.trac.wordpress.org/changeset/40676

[2017-05-16 08:57] PatelUtkarsh commented on #133
I will start working on PR to fix this issue.

[2017-06-12 06:05] #133 closed, assigned to PatelUtkarsh

[2017-06-18 19:24] awps commented on #105
As well. I can't activate it.
Looke like this plugin does not have support for symlinks.
Also, is not a good method to extend a class like this:
[code]
IMHO, something like this this is better:
[code]
I would love to see this fixed. Should I do a contribution?

![screen-0001](https://user-images.githubusercontent.com/1436534/27263568-58bc22d0-5474-11e7-995c-e1e2ac13f30f.png)

[2017-06-19 04:20] westonruter commented on #105
@Smartik89 the name of the exception is fine and is as intended, since it is being namespaced. Please do open a PR with a fix for the symlink issue.

[2017-07-06 20:33] #17 closed, assigned to kienstra

[2017-07-15 13:46] Alexander-Shukaev commented on #105
I have the same issue on Linux:

[code]

Not a PHP expert at all but a quick search suggests [this](https://stackoverflow.com/a/10001405/1743860).

[2017-07-16 06:51] westonruter commented on #105
Please test fix in #139.

[2017-07-16 11:21] Alexander-Shukaev commented on #105
You can go ahead with the merge, confirmed.  Thank you.

[2017-07-16 15:12] #105 closed, assigned to nobody

[2017-07-24 19:44] westonruter opened #142 "Sharing changeset preview will 404 if static front page is not set"
From @RobStino:

…

[2017-07-24 20:27] westonruter commented on #142
@RobStino I just tried to reproduce those steps, but I was unable. I could not see a “page not found” message when loading the homepage of the site when the latest posts were shown there.

For future reference, I set up my environment to be pristine via:

[code]

I was able to access `http://src.wordpress-develop.dev/?customize_changeset_uuid=57ac178a-e2e7-4125-ba44-1c1c62148e72` without any error

[2017-07-24 20:33] westonruter commented on #142
Another one for future reference… here is how to create a changeset using WP-CLI and open the frontend preview link in Chrome without ever logging-in and going to the Customizer:

[code]

[2017-07-27 02:13] westonruter opened #148 "Add list of most recent changeset under Customize on frontend"
In #143 there is a submenu link added under the Customize link on frontend admin bar:

<img width="453" alt="screenshot-7" src="https://user-images.githubusercontent.com/134745/28651324-1b806572-7236-11e7-92ce-b8a4f5e68074.png">

What if instead of there being just one Changesets link, if there was a dynamic list of the X most recent non-published changesets? The last submenu item could then be so

[2017-07-27 17:43] soderlind opened #150 "Export changeset to file"
Do you plan to add the option to save a changeset to file (json / yml) ?

[2017-07-27 18:08] jeffpaul commented on #150
@soderlind interesting request. What's the intent with a JSON/YML output file? To then load into a different WP instance? In which case, we'd need the ability to import as well it seems.

[2017-07-27 19:19] soderlind commented on #150
Sure, import, into another site, is given :)

[2017-07-27 22:07] westonruter commented on #150
It's a good idea and one that I've thought about. It is trivial to allow for exporting. The challenge comes with _importing_. In particular, conflict resolution will be very challenging when importing a changeset on a non-fresh site since any settings that contain IDs, like nav menus, nav menu items, and widgets instances will all be likely invalid when the changeset is imported.

[2017-07-28 09:23] soderlind commented on #150
A start could be allowing import only for fresh sites.

[2017-07-28 21:55] westonruter commented on #150
Yes, in fact we have the `fresh_site` option which could be used for this purpose.

[2017-07-29 14:49] soderlind commented on #150
Yup, would be like having a tailored starter changeset.

[2017-07-29 17:52] westonruter commented on #150
Yeah, and that's something we've talked about before in regards to starter content. A theme could be bundled with multiple starter content sets that the user could choose from, instead of only having one set of starter content. The difference between starter content and changesets is that the former is able to apply to an existing site since it will dynamically compute the IDs and create new objec

[2017-08-05 17:24] westonruter commented on #142
Cannot duplicate this issue.

[2017-08-05 17:24] #142 closed, assigned to nobody

[2017-08-05 17:28] westonruter opened #152 "Let changeset title default to the labels of the settings modified or controls that were interacted with"
Instead of defaulting a changeset to have the UUID as the title, it would be a better user experience if the UUID were dynamically populated with the IDs for the settings that were modified, or better the labels for setting's controls that were interacted with. This default title could then be updated as more settings are modified, up until a user supplies a manually-crafted title at which point t

[2017-08-05 17:31] westonruter opened #153 "Change link text for post list table action from “Edit” to “Inspect”"
This offers parity between the link and the “Inspect Changeset” admin bar item.

[2017-08-06 05:11] #153 closed, assigned to nobody

[2017-08-06 05:13] #103 closed, assigned to miina

[2017-08-10 05:51] westonruter commented on #106
It just means each site needs to do migration separately, right? If so, I think this is fine.

[2017-08-10 05:51] #106 closed, assigned to nobody

[2017-08-10 05:51] westonruter commented on #29
Closing in favor of https://github.com/WP-API/wp-api-customize-endpoints

[2017-08-10 05:51] #29 closed, assigned to nobody

[2017-08-10 06:07] PatelUtkarsh commented on #106
Yes.

[2017-08-25 20:53] westonruter opened #159 "Add minimum PHP version to readme"
See https://twitter.com/TacoVerdo/status/901000997383876609

[2017-08-29 02:40] #159 closed, assigned to nobody

[2017-10-03 00:34] westonruter commented on #61
There is now a natural place for this in the Publish Settings section.

Under (or over) the link to discard changes there could be a `details` element that says how many changes (dirty settings) there are in the changeset:

![image](https://user-images.githubusercontent.com/134745/31105259-9c1bc0aa-a797-11e7-97a3-f9e372e19e7a.png)

Expanding that could list out the changes (by control label) where

[2017-10-30 17:29] westonruter commented on #101
This feature has been merged into 4.9 via the Publish Settings section.

[2017-10-30 17:29] #101 closed, assigned to nobody

[2017-10-31 02:36] jamesdkirk opened #163 "Cannot Enter Title on Edit Changeset page for Published Changeset"
Just installed Customize Snapshots on brand new WP install (v.4.8.2)
Made a few various changes in Customizer, however failed to "Save Draft" on the publish drop down, but did press "Publish" button.
Noticed the plugin still lists the edits on the published changeset.
What I seem unable to perform is the ability to add a title to the "Enter title here" field. Actually, I can enter a title, however

[2017-10-31 03:31] westonruter commented on #163
When a changeset is published, it is effectively treated as a “frozen”. It is then essentially a revision that cannot be further edited. That being said, I can see that the ability to change the title after publishing could indeed be useful, such as to provide a description of the changes after publishing.

[2017-10-31 06:27] jamesdkirk commented on #163
Hey Weston
That was certainly my experience. I also quickly realized "how things needed to operate" and have adjusted my process accordingly. I think something as simple as some instructions to your points in the plugins info would make that scenario a little clearer.
Thanks for the clarification.

[2017-10-31 06:44] westonruter commented on #163
I think it would be useful to add a notification when inspecting a published changeset to explain why it cannot be further edited.

[2017-11-02 21:43] postphotos opened #164 "Mobile users can't access Customize in the Admin Bar"
**Proposed fix 1:** In WP Core, Change default "paintbrush" icon to initialize "Customize" just as pencil does - call `/wp-admin/customize.php` and allow mobile user to make changes to site using customizer as per usual.
Edit: proposed fix 1 is not necessary.

**Proposed fix 2:** For this plugin, revise the customize menu to match the styling of the "posts" dropdown (both screenshots included here

[2017-11-02 23:12] westonruter commented on #164
This needs to be improved, but it isn't a regression in the changes for 4.9 (#162), so it's not a high priority.

[2017-11-03 00:26] postphotos opened #165 "Changesets cannot be "duplicated" because UUIDs are, of course, unique"
If using a plugin like "Duplicate Posts" and you clone a Changeset and then try to edit it, it throws an error: `Invalid changeset UUID`.

1) This is perfectly valid behavior and it makes sense why, but can we, in the meantime, provide a warning in the release notes?
2) Further, can we add functionality to prevent plugins like "Duplicate Posts" from using this post type in the method followed in t

[2017-11-03 03:25] westonruter commented on #165
Actually, providing a way to copy a changeset has already been suggested in #41 with implementation in pending PR #90.

[2017-11-03 05:56] postphotos commented on #165
Yes! Thanks @PatelUtkarsh @westonruter for your awesome contributions! - this is also related to #118 and #93 as well. Essentially, we're after a similar branching pattern like we see in git or other structured version control systems. Split, merge, fork, branch - as much as we can, mirror workflows that folks are actually using in publishing and dev spaces.

[2017-11-16 15:12] mohdsayed opened #167 "Clicking pending status freezes the browser when user does not have publish capability."
In the new 0.7.0 version, when user does not have publish changeset capability, and only draft and pending appears in status control in publish settings section, clicking the pending option freezes the browser.

[2017-11-17 08:09] mohdsayed opened #168 "Save outer_section state for 4.9+"
With the enhancement made in https://github.com/xwp/wp-customizer-browser-history/issues/24 , snapshot plugin should also save the `autofocus[outer_section]` query var along with the other state query vars.

[2017-11-21 04:50] #168 closed, assigned to mohdsayed

[2017-11-24 08:55] mohdsayed commented on #167
See ticket https://core.trac.wordpress.org/ticket/42686

[2017-11-24 19:21] westonruter commented on #167
@sayedtaqui does this depend on the core fix?

[2017-11-24 19:22] westonruter commented on #167
Sorry, I just saw the PR.

[2017-12-07 02:48] terriann opened #172 "Undefined Index displaying Snapshot Details"
With [Gutenberg](https://github.com/WordPress/gutenberg/) enabled, combined with WP Customize Snapshot, when in debug mode, errors are displayed on the snapshot detail page

`Notice: Undefined index: title in /Users/Me/Sites/mysite.com/html/wordpress/wp-admin/includes/template.php on line 1042`

## Reproduction Steps
1. Login to WordPress Admin with Gutenberg & WP Customize Snapshots enabled and [

[2017-12-08 06:37] westonruter commented on #167
Merged #171

[2017-12-08 06:37] #167 closed, assigned to mohdsayed

[2017-12-11 02:28] westonruter commented on #172
Fixed in https://github.com/WordPress/gutenberg/pull/3856

[2017-12-11 02:28] #172 closed, assigned to nobody

[2017-12-12 06:50] #22 closed, assigned to nobody

[2017-12-13 04:52] #41 closed, assigned to PatelUtkarsh

[2017-12-15 21:40] #21 closed, assigned to PatelUtkarsh

[2017-12-21 18:31] thefrosty commented on #163
Would there be a way to require the title to be filled in as to avoid this change after publication? Either way I would like to see this added (notification or alteration of title for sake of _what this changeset was_)

[2018-02-23 22:32] westonruter commented on #163
I think it would be better to fix the default changeset title to be something other than the UUID. See #152.

[2018-05-04 20:10] thefrosty opened #174 "Revisions after publish"
Should a published snapshot have revisions? I've notices them showing up as autodrafted revisions after a changeset has been published.

[2018-05-04 21:59] valendesigns commented on #174
You shouldn't be able to changed a published snapshot. So no, there shouldn't be any new revisions for a published snapshot since publishing it should have the effect of locking it.